*{
    margin: 0;
    padding: 0;
}
.content{
    height: 423px;
    width: 400px;
    background-color: aquamarine;
    margin: 4px 2px 6px 1px; /*top right bottom left*/
    /* margin: 2px 6px;  top bottom --> 2 and left right -->6*/
    /* can do the same short-hands with padding */

    padding: 13px;
    border: 3px dashed red;
    /* border-width: 3px;
    border-style: groove;
    border-color: brown; */
    border-style: dashed dotted groove none; /*top right bottom left*/
    /* border-style: dashed dotted groove; top right, left bottom  */
    border-radius: 15px; /*gives kind of smooth edges*/
}
/* when two margins of diff elements overlap, the equivalent margin is the greater of the two. called MARGIN COLLAPSE */
.box1{
    background-color: pink;
    margin: 30px;
    height: 50px;
}
.box2{
    background-color: beige;
    margin: 20px;
    height: 50px;
    padding: 2px;
    border: 1px solid gray;
    /* box-sizing: content-box; this is what is set by default...does not include border and padding in width provided...so child dabba can go out of parent dabba  */

    /* but if we use border-box, the width provided is INCLUDING border and padding...so nothing goes out...like if i give width as 100%, then it will do everythinggg inside the 100% of the parent available. */
    /*please refere mdn for this...they've explained it cutely :)
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing */
    
}