header{
    width: 50%;
}
h1{
    border: 2px dashed darkcyan;
    width: 50%;
    /*widts are relative to their parents...like here...header is given 50% width, and h1 is inside header...so 50% to header means 50% of the available space to h1 which is 50% of header which is eventually 25% overall*/
    font-size: 3rem;
    padding: 0.5em;
}
body{
    min-height: 100vh;
    /*occupies the entire height of the page even if enough content is not there*/
}
p{
    font-size: 2rem;
    /*2rem pretty much doubles the default size of the browser...usually from 16px to 32 px*/
    width: 40ch;
    /*wraps the lines at approx 40 characters*/
}
